body
{
	margin:0;
	font-family:Raleway;
}
#header
{

	position:relative;
	height:65%;
	width:100%;
	box-shadow: 0px 2px 10px 2px #523152;
}
p
{
	text-align: center;
}
#pic
{
	box-shadow: 0px 2px 10px 2px #523152;
	width:100%;
	margin-bottom: 0px;

}
#rose
{
	width:10%;
	vertical-align:middle;
}
#information
{
	text-align: center;
	font-size:30px;
	background-color:#FFFFFF;
	height:30%;
}
#footer
{
	height:5%;
	text-align: center;
	font-size: 18px;
	background-color: #FFFFFF;
	width:100%;
}
img.background
{
	position:absolute;
	width:100%;
	top:0;
	left:0;
	z-index:-1;

}
.link
{
	padding-left:20px;
	padding-right:20px;
	text-decoration: none;
	z-index:1;
	font-weight:100;
	text-align:center;

}
a.major
{
	padding-left:20px;
	padding-right:20px;
}
a.most
{
	padding-left:30px;
	padding-right:30px;
	font-size:37px;
}
a.visited
{
	color:#ea4557
}
a:hover
{
	color:#ea4557;
}
h1
{
	opacity: 1;
	padding-left: 20px;
	margin:0px;
}
